<PageTitle>Submit</PageTitle>
@page "/submit"
<style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f5f5f5;
        }
        .container {
            margin-top: 150px;
            width: 90%; 
            max-width: 600px; 
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, transform 0.3s ease-in-out;
        }

        .container:hover {
            transform: scale(1.15);
         }
        .icon {
            font-size: 64px;
            margin-bottom: 20px;
        }
        h1 {
            color: #333;
            font-size: 36px;
            margin-bottom: 10px;
            font-weight:600;
        }
        .thank-you {
            color: #27ae60;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: 650;
        }
        p {
            color: #666;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .button {
            display: inline-block;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #45a049;
            color: whitesmoke;
        }
        .footer1 {
            margin-top:200px;
            background-color: #f5f5f5;
        }
</style>
    <div class="container">
        <div class="icon">🎉</div>
        <h1>Dziękujemy za zakup!</h1>
        <p class="thank-you">Twóje zamówienie zostało zrealizowane.</p>
        <p>Mamy nadzieję, że Twoje zakupy spełnią Twoje oczekiwania i przyniosą Ci dużo radości!</p>
        <a href="#" class="button"> Wróć do strony głównej</a>
    </div>


@code {

}
