@page "/laptopy-gamingowe"

<PageTitle>Laptopy-gamingowe</PageTitle>
<style>
    p {
        font-family: Mulish,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 16px; 
        color: #666; 
        line-height: 1.5;
        margin-bottom: 4px; 
        font-weight: 550;
    }
</style>
<main class="main-lap">
    <div class="separator"></div>
    <div class="mocny">
        <h1 style="    
    font-size: 3rem;
    text-align: center;
    color: #333;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Laptopy gamingowe
        </h1>
    </div>
    <div class="separator"></div>
    <section id="weak" class="computer">
        <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/63/6384006/Laptop-ASUS-TUF-Gaming-GA15-FA506NC-skos2.jpg" alt="Weak Computer">
        <h2 class="ZaglowekPC">ASUS TUF Gaming A15</h2>
        <p>Procesor: AMD Ryzen 5 7535HS</p>
        <p>Karta graficzna: NVIDIA GeForce RTX 3050</p>
        <p>RAM: 16GB, DDR5, 4800MHz</p>
        <p>Dysk SSD: 512GB PCIe NVMe 4.0</p>
        <p style="color: red;font-size: 20px; font-weight:650;" class="price-line">Price: 3190 zł</p>
        <button class="button" onclick="document.location='./zakup?param1=ASUS TUF Gaming A15&param2=3190&param4=https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/63/6384006/Laptop-ASUS-TUF-Gaming-GA15-FA506NC-skos2.jpg &param5=Procesor: AMD Ryzen 5 7535HS&param6=Karta graficzna: NVIDIA GeForce RTX 3050&param7=RAM: 16GB, DDR5, 4800MHz&param8=Dysk SSD: 512GB PCIe NVMe 4.0'">Buy</button>
    </section>
    <section id="medium" class="computer">
        <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/54/5454240/Laptop-ACER-Predator-Helios-Neo-PHN16-71-56NK-01.jpg" alt="Medium Computer">
        <h2 class="ZaglowekPC">ACER Predator Helios Neo</h2>
        <p>Procesor: Intel Core i5-13500HX</p>
        <p>Karta graficzna: NVIDIA GeForce RTX 4050</p>
        <p>RAM: 16GB, DDR5 </p>
        <p>Dysk SSD: 1000GB PCIe NVMe</p>
        <p style="color: red;font-size: 20px; font-weight:650;" class="price-line">Price: 7599 zł</p>
        <button class="button" onclick="document.location='./zakup?param1=ACER Predator Helios Neo&param2=7599&param4=https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/54/5454240/Laptop-ACER-Predator-Helios-Neo-PHN16-71-56NK-01.jpg &param5=Procesor: Intel Core i5-13500HX&param6=Karta graficzna: NVIDIA GeForce RTX 4050&param7=RAM: 16GB, DDR5, 4800MHz&param8=Dysk SSD: 1000GB PCIe NVMe 4.0'">Buy</button>
    </section>
    <section id="strong" class="computer">
        <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/52/5216548/Laptop-ASUS-ROG-Strix-G17-G713PU-HX042-01.jpg" alt="Strong Computer">
        <h2 class="ZaglowekPC">ASUS ROG Strix G17</h2>
        <p>Procesor: AMD Ryzen 9 7845HX</p>
        <p>Karta graficzna: NVIDIA GeForce RTX 4050</p>
        <p>RAM: 16GB, DDR5, 4800MHz</p>
        <p>Dysk SSD: 512GB PCIe NVMe 4.0</p>
        <p style="color: red;font-size: 20px; font-weight:650;" class="price-line">Price: 7238 zł</p>
        <button class="button" onclick="document.location='./zakup?param1=ASUS ROG Strix G17&param2=7238&param4=https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/52/5216548/Laptop-ASUS-ROG-Strix-G17-G713PU-HX042-01.jpg &param5=Procesor: AMD Ryzen 9 7845HX&param6=Karta graficzna: NVIDIA GeForce RTX 4050&param7=RAM: 16GB, DDR5, 4800MHz&param8=Dysk SSD: 512GB PCIe NVMe 4.0'">Buy</button>
    </section>
    <section id="powerful1" class="computer">
        <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/59/5917888/Laptop-LENOVO-Legion-Slim-5-16IRH8-01.jpg" alt="Powerful Computer 1">
        <h2 class="ZaglowekPC">LENOVO Legion Slim 5 16IRH8 16</h2>
        <p>Procesor: Intel Core i5-13500H</p>
        <p>Karta graficzna: NVIDIA GeForce RTX 4060</p>
        <p>RAM: 16GB, DDR5, 5200MHz</p>
        <p>Dysk SSD: 1000GB PCIe NVMe 4.0 x4</p>
        <p style="color: red;font-size: 20px; font-weight:650;" class="price-line">Price: 6209 zł</p>
        <button class="button" onclick="document.location='./zakup?param1=LENOVO Legion Slim 5 16IRH8 16&param2=6209&param4=https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/59/5917888/Laptop-LENOVO-Legion-Slim-5-16IRH8-01.jpg &param5=Procesor: Intel Core i5-13500H&param6=Karta graficzna: NVIDIA GeForce RTX 4060&param7=RAM: 16GB, DDR5, 5200MHz&param8=Dysk SSD: 1000GB PCIe NVMe 4.0 x4'">Buy</button>
    </section>
    <section id="powerful2" class="computer">
        <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/59/5932888/Laptop-ACER-Nitro-5-AN515-58-01.jpg" alt="Powerful Computer 2">
        <h2 class="ZaglowekPC">ACER Nitro 5 AN515-58 15.6</h2>
        <p>Procesor: Intel Core i7-12650H</p>
        <p>Karta graficzna: NVIDIA GeForce RTX 4060</p>
        <p>RAM: 16GB, DDR5, 5200MHz</p>
        <p>Dysk SSD: 1000GB PCIe NVMe 4.0</p>
        <p style="color: red;font-size: 20px; font-weight:650;" class="price-line">Price: 5999 zł</p>
        <button class="button" onclick="document.location='./zakup?param1=ACER Nitro 5 AN515-58 15.66&param2=5999&param4=https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/59/5932888/Laptop-ACER-Nitro-5-AN515-58-01.jpg &param5=Procesor: Intel Core i7-12650H&param6=Karta graficzna: NVIDIA GeForce RTX 4060&param7=RAM: 16GB, DDR5, 5200MHz&param8=Dysk SSD: 1000GB PCIe NVMe 4.0'">Buy</button>
    </section>
    <section id="powerful3" class="computer">
        <img src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/60/6007628/Laptop-HP-Victus-15-FA0999NW-001.jpg" alt="Powerful Computer 3">
        <h2 class="ZaglowekPC">HP Victus 15-FA0999NW 15.6</h2>
        <p>Procesor: Intel Core i5-12450H</p>
        <p>Karta graficzna: NVIDIA GeForce RTX 3050</p>
        <p>RAM: 16GB, DDR4, 3200MHz</p>
        <p>Dysk SSD: 512GB PCIe NVMe</p>
        <p style="color: red;font-size: 20px; font-weight:650;" class="price-line">Price: 3999 zł</p>
        <button class="button" onclick="document.location='./zakup?param1=HP Victus 15-FA0999NW 15.6&param2=3999&param4=https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/60/6007628/Laptop-HP-Victus-15-FA0999NW-001.jpg &param5=Procesor: Intel Core i5-12450H&param6=Karta graficzna: NVIDIA GeForce RTX 3050&param7=RAM: 16GB, DDR4, 3200MHz&param8=Dysk SSD: 512GB PCIe NVMe'">Buy</button>
    </section>
    <div class="separator"></div>

</main>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
