@page "/Pc-page"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<main class="main-lap">
    <div class="separator"></div>
    <div class="mocny">
    </div>
    <div class="separator"></div>
    <section id="weak" class="computer">
        <img src="https://robotcomp.ru/wa-data/public/shop/products/16/62/16216/images/30065/30065.750.jpg" alt="Weak Computer">
        <h2 class="ZaglowekPC">Слабый ПК</h2>
        <p>Описание и спецификации слабого ПК.</p>
        <p>Цена: $500</p>
        <button class="button">Купить</button>
    </section>
    <section id="medium" class="computer">
        <img src="https://robotcomp.ru/wa-data/public/shop/products/16/62/16216/images/30065/30065.750.jpg" alt="Medium Computer">
        <h2 class="ZaglowekPC">Средний ПК</h2>
        <p>Описание и спецификации среднего ПК.</p>
        <p>Цена: $1000</p>
        <button class="button">Купить</button>
    </section>
    <section id="strong" class="computer">
        <img src="https://robotcomp.ru/wa-data/public/shop/products/16/62/16216/images/30065/30065.750.jpg" alt="Strong Computer">
        <h2 class="ZaglowekPC">Сильный ПК</h2>
        <p>Описание и спецификации мощного ПК.</p>
        <p>Цена: $1500</p>
        <button class="button">Купить</button>
    </section>
    <section id="powerful1" class="computer">
        <img src="https://robotcomp.ru/wa-data/public/shop/products/16/62/16216/images/30065/30065.750.jpg" alt="Powerful Computer 1">
        <h2 class="ZaglowekPC">Мощный ПК 1</h2>
        <p>Описание и спецификации мощного ПК 1.</p>
        <p>Цена: $2000</p>
        <button class="button">Купить</button>
    </section>
    <section id="powerful2" class="computer">
        <img src="https://robotcomp.ru/wa-data/public/shop/products/16/62/16216/images/30065/30065.750.jpg" alt="Powerful Computer 2">
        <h2 class="ZaglowekPC">Мощный ПК 2</h2>
        <p>Описание и спецификации мощного ПК 2.</p>
        <p>Цена: $2500</p>
        <button class="button">Купить</button>
    </section>
    <section id="powerful3" class="computer">
        <img src="https://robotcomp.ru/wa-data/public/shop/products/16/62/16216/images/30065/30065.750.jpg" alt="Powerful Computer 3">
        <h2 class="ZaglowekPC">Мощный ПК 3</h2>
        <p>Описание и спецификации мощного ПК 3.</p>
        <p>Цена: $3000</p>
        <button class="button">Купить</button>
    </section>
    <div class="separator"></div>
</main>


